
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
*{

    margin: 0px;
    padding: 0px;
    font-weight: 400;
    scroll-behavior: smooth;
}

body{

height: 100vh;
background-image: url("../assets/bg3.jpg");

}

main
{
display: flex;
flex-direction: column;
padding: 5vh;
justify-content: center; 
align-items: center;
}

.logo
{
    display: block;
    width: 30vw;
    height: 20%;
    /* margin-bottom: 5vh; */
}

#newsitems{
  height: 75%;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-auto-rows: auto;
  place-content: center;
  grid-gap: 10px;

}
.card-body{

aspect-ratio: 1/1.5;
background-color: rgb(236, 238, 238);
}
.card-body:hover{
    
    background-color: rgba(0, 0, 0, 0.263);
}

.card-text{

font-style: italic;
}

.card-type{

    font-weight: 600;
}
    
.card-date{

    font-weight: 600;
}
    

footer
{
height: 5%;
text-align: center;
position: sticky;
/* bottom: 0; */

}

.author-name{
    text-decoration: none;
    font-weight: 600;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Roboto', sans-serif;
    color: rgb(34, 34, 34);
}
.logo:hover{

cursor: pointer;
}

.author-name:hover{

color: rgb(28, 1, 150);


}

@media screen and (max-width: 1200px) {
    #newsitems {
        grid-template-columns: repeat(3,max-content);
        grid-auto-rows: auto;
     }
 }

 @media screen and (max-width: 900px) {
   .logo{

        width: 40vw;
   }

    #newsitems {
       grid-template-columns: repeat(2,max-content);
       grid-auto-rows: auto;
    }
}
 @media screen and (max-width: 600px) {
    .logo{

        min-width: 40vw;
    }
        
   
    #newsitems {
       grid-template-columns: repeat(1,max-content);
       grid-auto-rows: auto;
    }
 }